<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/styles.css" />
    <!-- Includes the Mapbox GL JS CSS stylesheet -->
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v3.24.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <!-- Imports the Mapbox GL JS bundle -->
    <script src="https://api.mapbox.com/mapbox-gl-js/v3.24.0/mapbox-gl.js"></script>
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.3.1/mapbox-gl-directions.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.3.1/mapbox-gl-directions.css"
      type="text/css"
    />
    <title>Google maps clone</title>
  </head>
  <body>
    <div
      id="map"
      style="position: absolute; top: 0; bottom: 0; width: 100%"
    ></div>
    <script type="module" src="../js/task-1.js" defer></script>
  </body>
</html>
