<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <script defer src="../js/task-2.js"></script>
    <style>
      body {
        margin: 0;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
      }
      #escape-button {
        position: absolute;
        white-space: nowrap;
        font-size: 2rem;
      }
    </style>
  </head>
  <body>
    <button type="button" id="escape-button">CLICK ME! CMON!</button>
  </body>
</html>
